{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "eslint-config-prettier",
    "prettier"
  ],
  "plugins": ["prettier", "@typescript-eslint", "import"],
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off"
  },
  "env": {
    "es6": true,
    "node": true
  }
}
